{{> head }}
{{> navbar }}

<div class="row">
<div class="col-8">
    <h1>Imagen de prueba</h1>
    <p>Descripción de la imagen</p>
</div>

<div class="col-3">
    <img src="assets/img/car.jpg" class="img-thumbnail" alt="car" />
</div>

</div>

{{> footer }}